extends layout

block contents
  header.header
    div.content-wrap
      div.logo
        h1
          a.accent(href="/ivi") IVI
        p.description Interactive Visual Interpreter
      
      p Pronounced "ivy", the IVI is a system designed to help new programmers learn how the abstract process of coding works at a more literal level of computation. It features a code editor, console and visualizer that work together to bring you a real coding environment with the added benefit of a visual representation of the computer memory. 
      center
        iframe(width="560", height="315", src="https://www.youtube.com/embed/K7OQK9I60Uw",frameborder="0", allowfullscreen)

      h2 How To Use

      p IVI is a JavaScript interpreter that runs in-browser. You can write JavaScript code in the editor on the left and see the state of the program at each step on the right. To launch IVI, you can click to "IVI" link on the top navigation or click here to open the IVI interpreter.

      h2 Developer Notes

      p A list of unsupported features and additional developer notes can be found here. Please visit the page to check if the feature in question is unsupported before filing for an issue. These unsupported features are under our radar and we are looking to implement these in the future!

block footer
