mixin footer
  script
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  .footer
    div.container
      p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
        a(href='https://github.com/jnordberg/wintersmith') Wintersmith    
          //- please leave the "powered by" if you use the design           

