include header
include nav
include footer

doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      +header
  body(class=bodyclass)
    .content-wrap
      +nav
    block contents

    block footer
      +footer
