mixin nav
  nav.navbar.navbar-inverse                                                   
    .container-fluid                                                          
      .navbar-header                                                          
        a.navbar-brand(href="/") Ivy                                          
      ul.nav                                                                  
          li: a(href="/about") About
          li: a(href="/ivi") IVI
          li: a(href="https://github.com/project-ivi/ivi/issues/new") Bugs
          li: a(href="https://goo.gl/forms/KMHi3KdxeJcfupfG2") Feedback
