mixin nav
  nav.navbar.navbar-inverse                                                   
    .container-fluid                                                          
      .navbar-header                                                          
        a.navbar-brand(href="/") Ivy                                          
      ul.nav                                                                  
          li: a(href="/about") About                                      
          li: a(href="/ivi") IVI                 
